body {
    text-align:center;
    background-repeat:no-repeat;
    animation-name:grad;
    animation-duration:10s;
}

#text{
    width:50%;
    margin:auto;
    
}

.boxPulse {
    outline-style:solid;
    outline-width:2px;
    animation-name:boxBorder;
    animation-duration:1s;
}

#description {
    line-height:20pt;
}

#intro {
    font-weight:bold;
    font-family:sans-serif;
}

#buttons {
    padding:20px;
}

@keyframes boxBorder {
    from {outline-style:hidden; outline-width:2px;}
    to {outline-style:solid; outline-width:0px;}
}